asgiref
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
environ
filelock
MouseInfo
pillow
pipdeptree
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
python-decouple
python-dotenv
pytweening
sqlparse
typing_extensions
tzdata
virtualenv